:root{
  --brand-dark: #041f4a;
  --brand-main: #052962;
  --brand-pastel: #506991;
  --highlight-main: #ffe500;
  --highlight-dark: #ffbb50;
  --neutral-brightness-7: #121212;
  --neutral-brightness-20: #333333;
  --neutral-brightness-46: #767676;
  --neutral-brightness-60: #999999;
  --neutral-brightness-86: #dcdcdc;
  --neutral-brightness-93: #ededed;
  --neutral-brightness-97: #f6f6f6;
  --other-labs-dark: #4b8878;
  --other-labs-main: #69d1ca;
  --other-green-dark: #236925;
  --other-green-main: #3db540;

  --section-news-dark: #ab0613;
  --section-news-main: #c70000;
  --section-news-bright: #ff4e36;
  --section-news-pastel: #ffbac8;
  --section-news-faded: #fff4f2;

  --section-opinion-dark: #bd5318;
  --section-opinion-main: #e05e00;
  --section-opinion-bright: #ff7f0f;
  --section-opinion-pastel: #f9b376;
  --section--opinion-faded: #fef9f5;

  --section-sport-dark: #005689;
  --section-sport-main: #0084c6;
  --section-sport-bright: #00b2ff;
  --section-sport-pastel: #90dcff;
  --section--sport-faded: #f1f8fc;

  --section-culture-dark: #6b5840;
  --section-culture-main: #a1845c;
  --section-culture-bright: #eacca0;
  --section-culture-pastel: #e7d4b9;
  --section--culture-faded: #fbf6ef;

  --section-lifestyle-dark: #7d0068;
  --section-lifestyle-main: #bb3b80;
  --section-lifestyle-bright: #ffabdb;
  --section-lifestyle-pastel: #fec8d3;
  --section--lifestyle-faded: #feeef7;

}

.App{
  text-align: center;
}

.header{
  display: flex;
  justify-content: space-between;
  background-color: var(--brand-main);
  height: 20vh;
  padding: 0px 10% 0px 10%;
  border: solid white 1px;
  
}

.support-banner{
  width: 40%;
  padding: 0px;
 
}

.support-banner > h1 {
  margin: 0px;
  padding: 0px;
}

.support-banner > h2 {
  font-size: 80%;
  margin: 0px;
  padding: 0px;
}

.support{
  color:yellow;
  font-weight: 900;
  font-size: 35px;
}

.gift{
  color:white;
  font-size: 15px;
  bottom:5px;
}


.header{
  background-color: var(--brand-main)
}

nav{
  z-index: 1;
 
}

nav > ul{
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}



nav > * {
  z-index: 3;
}

main{
  text-align: center;
}