:root{
  --brand-dark: #041f4a;
  --brand-main: #052962;
  --brand-pastel: #506991;
  --highlight-main: #ffe500;
  --highlight-dark: #ffbb50;
  --neutral-brightness-7: #121212;
  --neutral-brightness-20: #333333;
  --neutral-brightness-46: #767676;
  --neutral-brightness-60: #999999;
  --neutral-brightness-86: #dcdcdc;
  --neutral-brightness-93: #ededed;
  --neutral-brightness-97: #f6f6f6;
  --other-labs-dark: #4b8878;
  --other-labs-main: #69d1ca;
  --other-green-dark: #236925;
  --other-green-main: #3db540;

  --section-news-dark: #ab0613;
  --section-news-main: #c70000;
  --section-news-bright: #ff4e36;
  --section-news-pastel: #ffbac8;
  --section-news-faded: #fff4f2;

  --section-opinion-dark: #bd5318;
  --section-opinion-main: #e05e00;
  --section-opinion-bright: #ff7f0f



}

.header{
  display: flex;
  justify-content: space-between;
  background-color: var(--brand-main);
  height: 20vh;
  padding: 0px 10% 0px 10%;
  
}

.support-banner{
  width: 40%;
  padding: 0px;
  border: solid red 1px;
}

.support-banner > h1 {
  margin: 0px;
  padding: 0px;
}

.support-banner > h2 {
  font-size: 80%;
  margin: 0px;
  padding: 0px;
}


.the-guardian-logo{
  height: 60%
}

.App{
  text-align: center;
}

.header{
  border: solid red 1px;
  background-color: var(--brand-main)
}

nav{
  z-index: 1;
  border: solid orange 1px;
}

nav > ul{
  border: red solid 1px;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

nav > * {
  z-index: 3;
}

main{
  border: solid red 1px;
  text-align: center;

}